@import "tailwindcss";
@import "swiper/css";
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "flatpickr/dist/flatpickr.min.css";

@source "../../**/*.{php,js,jsx,ts,tsx,html}";

/* Fraunces font family */
@font-face {
    font-family: fraunces;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/fraunces/Fraunces_72pt-Thin.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/fraunces/Fraunces_72pt-ThinItalic.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/fraunces/Fraunces_72pt-Light.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/fraunces/Fraunces_72pt-LightItalic.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces/Fraunces_72pt-Regular.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/fraunces/Fraunces_72pt-Italic.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/fraunces/Fraunces_72pt-SemiBold.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/fraunces/Fraunces_72pt-SemiBoldItalic.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fraunces/Fraunces_72pt-Bold.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/fraunces/Fraunces_72pt-BoldItalic.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces/Fraunces_72pt-Black.ttf');
}

@font-face {
    font-family: fraunces;
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/fraunces/Fraunces_72pt-BlackItalic.ttf');
}

/* Sofia Sans font family */
@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/sofia-sans/SofiaSans-Thin.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/sofia-sans/SofiaSans-ThinItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/sofia-sans/SofiaSans-ExtraLight.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/sofia-sans/SofiaSans-ExtraLightItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/sofia-sans/SofiaSans-Light.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/sofia-sans/SofiaSans-LightItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sofia-sans/SofiaSans-Regular.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/sofia-sans/SofiaSans-Italic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/sofia-sans/SofiaSans-Medium.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/sofia-sans/SofiaSans-MediumItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sofia-sans/SofiaSans-SemiBold.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/sofia-sans/SofiaSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/sofia-sans/SofiaSans-Bold.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/sofia-sans/SofiaSans-BoldItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/sofia-sans/SofiaSans-ExtraBold.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/sofia-sans/SofiaSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/sofia-sans/SofiaSans-Black.ttf');
}

@font-face {
    font-family: sofia-sans;
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/sofia-sans/SofiaSans-BlackItalic.ttf');
}

/* Theme config */
@theme {
    /* Colors */
    --color-primary: #98005D;
    --color-secondary: #F0E5E7;
    --color-tertiary: #4A182A;

    --color-neutral-graphite: #2E2E2E;
    --color-neutral-stone: #6E7C7C;
    --color-neutral-linen: #FCFAF7;

    /* Font families */
    --font-fraunces: fraunces, 'sans-serif';
    --font-sofia-sans: sofia-sans, 'sans-serif';
}

/* Utilities */
@utility container {
    @apply max-w-[76rem] mx-auto px-4;
}

/* Layers */
@layer base {
    html {
        @apply text-base text-black font-normal font-sofia-sans;
    }

    a, button {
        @apply inline-block cursor-pointer outline-none duration-300;
    }

    input, textarea {
        @apply h-13 block bg-white border border-secondary px-4 py-3 outline-none rounded-none focus:border-primary duration-300 placeholder:text-[#737373];
    }

    textarea {
        @apply h-43;
    }
}

/* Typography */
.text-display {
    @apply font-fraunces font-semibold lg:text-[80px] text-[48px] lg:leading-22 leading-14;
}

.text-heading-1 {
    @apply font-fraunces lg:text-[60px] text-[40px] lg:leading-17 leading-12;
}

.text-heading-2 {
    @apply font-fraunces lg:text-[48px] text-[32px] lg:leading-14 leading-10;
}

.text-heading-3 {
    @apply font-fraunces lg:text-[40px] text-[28px] lg:leading-12 leading-8;
}

.text-heading-4 {
    @apply font-fraunces lg:text-[32px] text-[24px] lg:leading-10 leading-7;
}

.text-heading-5 {
    @apply font-fraunces lg:text-[24px] text-[20px] lg:leading-8 leading-6;
}

.text-body-xl {
    @apply lg:text-[24px] text-[20px] leading-10;
}

.text-body-lg {
    @apply lg:text-[18px] text-[16px] lg:leading-7 leading-6;
}

.text-body-md {
    @apply lg:text-[16px] text-[14px] lg:leading-6 leading-5;
}

.text-body-sm {
    @apply lg:text-[14px] text-[12px] lg:leading-5 leading-4.5;
}

/* Buttons */
.btn {
    @apply text-center content-center;
}

.btn-primary-fill {
    @apply bg-primary text-white hover:brightness-90;
}

.btn-black-outline {
    @apply text-black border border-black hover:bg-black hover:text-white;
}

.btn-white-outline {
    @apply text-white border border-white hover:bg-white hover:text-black;
}

.btn-lg {
    @apply h-13 font-medium lg:text-[18px] text-[16px] lg:leading-7 leading-6 px-4;
}

.btn-md {
    @apply h-10 font-medium lg:text-[16px] text-[14px] lg:leading-6 leading-5 px-3;
}

.btn-sm {
    @apply h-9 font-medium lg:text-[14px] text-[12px] lg:leading-5 leading-4.5 px-3;
}

/* Date & time picker */
.flatpickr-calendar {
    border-radius: 0;
    overflow: hidden;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-monthSelect-month.selected,
.flatpickr-monthSelect-month.selected:hover {
    @apply bg-primary! border-primary! text-white!;
}

.flatpickr-day.today {
    @apply border-primary!;
}

[x-cloak] {
    display: none !important;
}