@import "tailwindcss";
@import "swiper/css";
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "flatpickr/dist/flatpickr.min.css";

@source "../../**/*.{php,js,jsx,ts,tsx,html}";

@plugin '@tailwindcss/typography';


/* Theme config */
@theme {
    /* Colors */
    --color-primary: #C89B3C;
    --color-secondary: #F1EDE4;
    --color-mid: #E8C862;
    --color-tertiary: #76602E;

    --color-neutral-graphite: #2E2E2E;
    --color-neutral-stone: #6E7C7C;
    --color-neutral-linen: #FCFAF7;

    /* Font families */
    --font-fraunces: "Fraunces", serif;
    --font-sofia-sans: "Sofia Sans", sans-serif;
}

/* Utilities */
@utility container {
    @apply max-w-[76rem] mx-auto px-4;
}


@utility prose {
    @apply max-w-none
    prose-h1:text-5xl
    prose-h2:text-4xl
    prose-h3:text-3xl
    prose-h4:text-2xl
    prose-h5:text-xl
    prose-h6:text-lg
    prose-p:text-lg
    prose-a:text-primary
    prose-blockquote:text-primary
    prose-strong:text-primary
    prose-kbd:text-primary
    prose-code:text-primary
    prose-ol:marker:text-primary
    prose-ul:marker:text-primary
    prose-img:w-full
}

/* Layers */
@layer base {
    html {
        @apply text-base text-black font-normal font-sofia-sans;
    }

    a, button {
        @apply inline-block cursor-pointer outline-none duration-300;
    }

    input, textarea {
        @apply h-13 block bg-white border border-secondary px-4 py-3 outline-none rounded-none focus:border-primary duration-300 placeholder:text-[#737373];
    }

    textarea {
        @apply h-43 resize-none;
    }
}

/* Typography */
.text-display {
    @apply font-fraunces font-semibold lg:text-[80px] text-[48px] lg:leading-22 leading-14;
}

h1, .text-heading-1 {
    @apply font-fraunces lg:text-[60px] text-[40px] lg:leading-17 leading-12;
}

h2, .text-heading-2 {
    @apply font-fraunces lg:text-[48px] text-[32px] lg:leading-14 leading-10;
}

h3, .text-heading-3 {
    @apply font-fraunces lg:text-[40px] text-[28px] lg:leading-12 leading-8;
}

h4, .text-heading-4 {
    @apply font-fraunces lg:text-[32px] text-[24px] lg:leading-10 leading-7;
}

h5, .text-heading-5 {
    @apply font-fraunces lg:text-[24px] text-[20px] lg:leading-8 leading-6;
}

.text-body-xl {
    @apply lg:text-[24px] text-[20px] leading-10;
}

.text-body-lg {
    @apply lg:text-[18px] text-[16px] lg:leading-7 leading-6;
}

.text-body-md {
    @apply lg:text-[16px] text-[14px] lg:leading-6 leading-5;
}

.text-body-sm {
    @apply lg:text-[14px] text-[12px] lg:leading-5 leading-4.5;
}

/* Buttons */
.btn {
    @apply text-center content-center;
}

.btn-primary-fill {
    @apply bg-primary text-white hover:brightness-90;
}

.btn-black-outline {
    @apply text-black border border-black hover:bg-black hover:text-white;
}

.btn-white-outline {
    @apply text-white border border-white hover:bg-white hover:text-black;
}

.btn-lg {
    @apply h-13 font-medium lg:text-[18px] text-[16px] lg:leading-7 leading-6 px-4;
}

.btn-md {
    @apply h-10 font-medium lg:text-[16px] text-[14px] lg:leading-6 leading-5 px-3;
}

.btn-sm {
    @apply h-9 font-medium lg:text-[14px] text-[12px] lg:leading-5 leading-4.5 px-3;
}

/* Date & time picker */
.flatpickr-calendar {
    border-radius: 0;
    overflow: hidden;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-monthSelect-month.selected,
.flatpickr-monthSelect-month.selected:hover {
    @apply bg-primary! border-primary! text-white!;
}

.flatpickr-day.today {
    @apply border-primary!;
}

/* Swiper styles */
.swiper-pagination-bullet-class {
    @apply w-2 h-2 border border-current rotate-45 duration-300;
}

.swiper-pagination-bullet-active-class {
    @apply bg-primary border-primary scale-150;
}

[x-cloak] {
    display: none !important;
}